.aboutSection {
    background-color: #1abc9c;
    padding: 80px 0;
}


.btnDownload {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px 28px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.btnDownload:hover {
    background-color: white;
    color: #1abc9c;
}
