.footerSection {
    background-color: #2c3e50;
    color: white;
    text-align: center;
}
.iconCircle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  color: white; 
}

.iconCircle i {
  color: white !important; 
  transition: 0.3s;
}

.iconCircle:hover {
  background-color: white;
  color: #2c3e50; 
}

.iconCircle:hover i {
  color: #2c3e50 !important; 
}
